node_modules/
lerna-debug.log
npm-debug.log
packages/*/lib
packages/*/dist
packages/*/artifacts
packages/*/src/artifacts
packages/*/cache
.idea
*.tsbuildinfo
package-lock.json
packages/*/package-lock.json
packages/*/log.txt
packages/*/temp.txt
packages/*/src/*.d.ts
packages/*/coverage
packages/*/yarn-error.log
packages/*/build-*
*.swp
*.swo
*/yarn-error.log
/lib
yarn-error.log
.DS_Store
build/
out/linecounter.json
out/linecounter.txt
.ipfs

# Yarn 2 recommendations, no PNP: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules
.env
coverage
coverage.json
typechain
package-lock.json

#Hardhat files
cache
artifacts

#For MacOS
**/.DS_Store

#Personal
notes
Qm*

# We don't need to track upgrades until testnet or mainnet deployment
.openzeppelin/
packages/test-harness/data/insight/*

# Don't checkin the ceramic stuff
.ceramic/logs/*
.ceramic/statestore/*

# mobile
packages/mobile/ios/Pods
