{
    "openapi": "3.0.0",
    "info": {
      "title": "Query Responses",
      "description": "This is a server for receiving query responses from the users.",
      "termsOfService": "https://snickerdoodlelabs.io/terms/",
      "contact": {
        "name": "API Support",
        "url": "https://snickerdoodlelabs.io/support",
        "email": "support@snickerdoodlelabs.io"
      },
      "license": {
        "name": "Apache 2.0",
        "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
      },
      "version": "0.1"
    },
    "servers": [
      {
        "url": "https://development.snickerdoodlelabs.io/v1",
        "description": "Development server"
      },
      {
        "url": "https://staging.snickerdoodlelabs.io/v1",
        "description": "Staging server"
      },
      {
        "url": "https://api.snickerdoodlelabs.io/v1",
        "description": "Production server"
      }
    ],
    "paths": {
      "/responses": {
        "get": {
          "description": "Returns responses to the queries",
          "responses": {
            "200": {
              "description": "Responses to the subqueries with the business, data wallet, query and signiture metadata",
              "content": {
                "application/json": {
                  "schema": {
                    "type": "object",
                    "properties": {
                      "businessId": {
                        "type": "string",
                        "format": "ethereum-contract-address"
                      },
                      "queryId": {
                        "type": "string",
                        "format": "IPFS-CID"
                      },
                      "dataWallet": {
                        "type": "string",
                        "format": "snickerdoodle-account-address"
                      },
                      "returns": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "subquery": {
                              "type": "string"
                            },
                            "data": {
                              "type": "array",
                              "items": {
                                "type": "number",
                                "format": "double"
                              }
                            }
                          }
                        }
                      },
                      "signature": {
                        "type": "string",
                        "format": "hex-string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }